.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  background-color: aliceblue;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
}

.navbar__item a.active {
  font-weight: bold;
  border-block: .25rem #ffffff solid;
} 

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color: currentColor;
  text-decoration: none;
}